* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* ************************************************ */

/* all pages header and logo */

/* ************************************************************* */
/* index page */

.parent {
  display: grid;
  grid-template-columns: 0.05fr 2fr 1fr 1fr 2fr;
  grid-template-rows: auto auto 0.05fr 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 6;
}
nav {
  grid-area: 2 / 1 / 3 / 6;
}
aside {
  grid-area: 3 / 5 / 5 / 6;
  padding: 1rem;
}
footer {
  grid-area: 5 / 1 / 6 / 6;
}
article {
  grid-area: 3 / 1 / 5 / 5;
}

/* **************************************************** */
/* header styles */
header {
  display: grid;
  max-height: 50rem;
  background-image: url('../images/header-small.jpg');
  height: 500px;
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

header h1 {
  display: grid;
  color: #81b741;
  margin-left: 3rem;
  font-style: italic;
  font-size: 1.5em;
  width: 50%;
}

.logo {
  width: 25%;
  margin-top: 6rem;
  margin-left: 3rem;
}

header p {
  float: right;
  color: white;
  margin-top: -8rem;
  padding-right: 5rem;
}

.cart {
  width: 2rem;
  float: right;
  margin-top: -8.5rem;
  padding-right: 10rem;
}

.button {
  float: right;
  margin-top: -5.5rem;
  margin-right: 4.8rem;
  background-color: #81b741;
  color: white;
  width: 13%;
  height: 2.4rem;
  border-radius: 4px;
}

.fcc-btn2 {
  background-color: #ccc;
  width: 40%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  color: #093c60;
  font-size: 1.5em;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

/* ********************************************************** */
/* navigation styles */

nav {
  display: grid;
  background-color: #ccc;
  min-height: 5rem;
  line-height: 5.5rem;
}

nav ul {
  margin-left: 10rem;
}
nav li {
  display: inline;
  font-size: 1.5em;
}

nav li a {
  color: #093c60;
  text-decoration: none;
}

/* ****************************************** */
/* aside styles */
aside {
  display: grid;
  background-color: white;
  margin-right: 10rem;
  max-height: 50rem;
}

aside h1 {
  color: #093c60;
  padding-bottom: 1rem;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

aside img {
  max-width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside h4 {
  color: #093c60;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5em;
}

aside p {
  color: #093c60;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
}

/* ************************************************ */
/* article */

article {
  display: grid;
  /* height: 300vh; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.6fr 0.5fr 0.5fr 0.05fr;
  grid-template-areas:
    'content1 content1 content1'
    'content3 content3 content3'
    'content4 content5 content6'
    'content7 content8 content9'
    'content10 content10 content10';
  margin-left: 10rem;
  margin-right: 5rem;
  gap: 1rem;
}

.content1 {
  display: grid;
  grid-area: content1;
}

.content1 img {
  max-width: 100%;
  height: auto;
}

.content3 {
  display: grid;
  grid-area: content3;
  max-height: 5rem;
}

.content3 h1 {
  color: #093c60;
  margin-top: 1rem;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

.content3 p {
  color: #093c60;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.content4 {
  display: grid;
  grid-area: content4;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

.content4 img {
  max-width: 100%;
  height: auto;
}

.content4 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content4 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content4 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 5 */
.content5 {
  display: grid;
  grid-area: content5;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

.content5 img {
  max-width: 100%;
  height: auto;
}

.content5 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content5 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content5 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 6 */
.content6 {
  display: grid;
  grid-area: content6;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

.content6 img {
  max-width: 100%;
  height: auto;
}

.content6 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content6 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content6 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 6 */
.content7 {
  display: grid;
  grid-area: content7;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content7 img {
  max-width: 100%;
  height: auto;
}

.content7 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content7 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content7 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 6 */
.content8 {
  display: grid;
  grid-area: content8;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content8 img {
  max-width: 100%;
  height: auto;
}

.content8 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content8 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content8 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 9 */
.content9 {
  display: grid;
  grid-area: content9;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content9 img {
  max-width: 100%;
  height: auto;
}

.content9 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content9 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content9 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.content10 {
  display: grid;
  grid-area: content10;
}

.content10 a {
  color: #093c60;
  text-decoration: none;
}

.content10 button {
  background-color: rgb(177, 175, 175);
  color: #093c60;
  width: 50%;
  height: 2.5rem;
  margin-left: 12rem;
  font-size: 1.5em;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* ************************************************ */
/* footer */

footer {
  display: grid;
  width: 100%;
  height: 25rem;
  background-color: #093c60;
}

footer h5 {
  text-align: center;
  color: white;
  font-size: 1em;
}

footer img {
  padding-top: 2rem;
  max-width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  text-align: center;
  color: white;
}

footer li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  color: white;
}

footer li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

footer li a:hover {
  color: #0096d6;
}

footer p {
  color: white;
  text-align: center;
}

/* On screens that are 1024px or less, go from three cols to two*/
@media screen and (max-width: 1024px) {
  .parent {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-areas:
      'header header'
      'nav nav'
      'article aside'
      'footer footer';
  }
}

@media screen and (max-width: 1024px) {
  aside {
    margin-left: 8rem;
    margin-right: 0px;
  }

  article {
    display: grid;
    grid-area: article;
    margin-left: 4rem;
    margin-right: auto;
  }

  article img {
    width: 100%;
    height: auto;
  }
  nav ul {
    margin-left: 3.5rem;
  }
}

/* On screens that are 1024px or less, display dogs in 2 wide side by side column */
@media screen and (max-width: 1023px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.8fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      'content1 content1'
      'content3 content3'
      'content4 content5'
      'content6 content7'
      'content8 content9'
      'content10 content10';
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 0px;
  }

  .content1 img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  header h1 {
    margin-left: 1rem;
  }
  .logo {
    margin-left: 1rem;
    width: 25%;
  }
  header p {
    padding-right: 3rem;
  }
  .cart {
    padding-right: 8rem;
  }
  header .button {
    margin-right: 2rem;
    width: 20%;
  }
  nav ul {
    margin-left: 5rem;
  }
  .content3 h1 {
    margin-left: 1rem;
  }
  .content3 p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: auto;
  }
  .content4,
  .content5,
  .content6,
  .content7,
  .content8,
  .content9 {
    min-width: 10rem;
  }

  .content10 button {
    margin-left: 5rem;
  }
}
